@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
  }

/* src/index.css o donde tengas tus estilos globales */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  }
  

@layer base{
    .text-outline{
        -webkit-text-stroke: 2px white;
    }
}

@layer components{
    .outline-btn{
        @apply border-[3px] rounded-xl px-6 py-2;
    }
    .rounded-icons{
        @apply h-[30px] w-[30px] flex items-center justify-center cursor-pointer
        bg-white/30 rounded-full p-2 hover:scale-110 duration-200;
    }
}

